<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Reinyzagam REST - Login</title>
    <style>
        body {
            background-color: black;
            color: white;
            text-align: center;
            margin-top: 50px;
        }
        a:link {
            color: cyan
        }
        a:visited {
            color: cyan;
        }
        a:hover {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Reinyzagam REST</h1>

    <a href="/rest/">REST API</a><br>
    <a href="/webapp/locations/">Locations</a><br>
    <a href="/logout/">Logout</a>

</body>
</html>